matplotlib==3.8.3
numpy==1.24.1
opencv-python==4.9.0.80
pandas==2.2.1
pillow==10.2.0
scikit-learn==1.4.1.post1
scipy==1.12.0
# torch==2.2.1+cu118
torch_geometric==2.3.0
# torchaudio==2.2.1+cu118
# torchvision==0.17.1+cu118
tqdm==4.66.2
transformers==4.38.2
